.leia-mais {
    padding: 0.5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}

article {
    padding-bottom: 1.5em;
    border-bottom: 0.1ch solid #ccc;
    margin-bottom: 1em;
}