.navegacao-site {
    position: absolute;
}

legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}

label[for] {
    display: block;
}


/*Selecionar apenas os campos de texto*/

input[type="text"],
input[type="email"],
textarea {
    /*Força o navegador a usar a mesma fonte da pagina*/
    font-family: inherit;
    /*inclusive o tamanho dela*/
    font-size: 100%;
    padding: 0.25em 0.5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}


/*Alguns ajustes para o campo "outro": deixar ele na mesma linha dos outros assuntos*/

fieldset>fieldset {
    display: inline;
}


/*deixar o rotulo dele inline novamente*/

label[for="outro"] {
    display: inline;
}


/*Deixar só esse campo sem ocupar a tela toda*/

input[name="outro-assunto"] {
    width: auto;
}

input:focus,
textarea:focus {
    background-color: #ffd;
}

input:invalid {
    box-shadow: 0 0 3px red;
}

button {
    /*Precisamos tirar a borda que o navegador coloca como padrao*/
    border: 0;
    padding: 0.5em 1em;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #3c1d3d;
    color: white;
    font-size: 1.2em;
    /*Faz com que o botao aparece a direita*/
    margin-left: auto;
    margin-top: 1em;
    display: block;
}

button:hover,
button:focus {
    background-color: #8c1d3d;
}

input[value="Outro"]~input {
    display: none;
}

input[value="Outro"]:checked~input {
    display: inline;
}

.com-icone {
    position: relative;
}

.com-icone::after {
    content: "";
    background-color: #d3d3d3;
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 100%;
    left: 0;
}

.com-icone+input {
    position: relative;
    left: 2em;
    width: calc(100% - 2em);
}

.com-icone[for="nome"]::after {
    background-image: url(../img/ICONE-SAC-MATRIZ.png);
}

.com-icone[for="email"]::after {
    background-image: url(../img/email.png);
}