        body {
            font-family: "Crimson Text", 'Times New Roman', Times, serif;
            background-color: #F2FFFC;
            font-size: 120%;
            line-height: 1.5;
        }
        
        main {
            width: 80%;
            float: left;
        }
        
        h1,
        h2 {
            font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
        }
        
        .titulo-principal {
            text-align: center;
            background-color: #851944;
            color: #FFF;
            padding: 25px;
            border-bottom: 10px solid black;
            font-size: 60px;
            text-transform: uppercase;
        }
        
        p {
            text-align: justify;
            margin: 20px 0;
        }
        
        .citacao-bio {
            background-color: #D9E5E3;
            margin: 20px 40px;
            border: 10px solid #c2ccca;
            width: 250px;
            box-sizing: border-box;
        }
        
        .citacao-petrobras {
            float: left;
        }
        
        .citacao-fiat {
            float: right;
        }
        
        cite {
            font-style: italic;
            float: right;
        }
        
        .navegacao-site {
            background-color: #3C1D3D;
            color: #F2FFFC;
            text-align: center;
        }
        
        .rodape-pagina {
            background-color: #000;
            color: #F2FFFC;
            clear: both;
        }
        
        main a {
            color: #851944;
        }
        
        .navegacao-site a {
            color: inherit;
            font-family: "Open Sans Condensed", sans-serif;
        }
        
        .citacao-bio,
        .navegacao-site,
        .rodape-pagina {
            padding: 20px;
        }
        
        main div {
            padding: 30px 0;
            width: 720px;
            margin: auto;
        }
        
        .navegacao-site h1 {
            font-size: 30px;
            margin-bottom: 25px;
        }
        
        strong {
            font-weight: bold;
        }
        
        em {
            font-style: italic;
        }
        
        main h2 {
            font-size: 30px;
            clear: both;
        }
        
        .icones-sociais li {
            display: inline-block;
        }
        
        article {
            padding-bottom: 30px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
        }
        
        .leia-mais {
            padding: 8px;
            margin: 16px;
            display: block;
            font-size: 24px;
            text-align: center;
            background-color: #E6E7E8;
        }
        
        nav a {
            color: #F2FFFC;
            text-transform: lowercase;
        }
        
        .icones-sociais a {
            width: 40px;
            height: 40px;
            display: block;
            text-indent: -9999px;
        }
        
        .github {
            background-image: url(../img/github.png);
        }
        
        .twitter {
            background-image: url(../img/twitter.png);
        }
        
        .linkedin {
            background-image: url(../img/linkedin.png);
        }
        
        .foto-joao {
            border: 10px solid black;
        }
        
        img,
        aside {
            width: 20%;
            float: right;
        }
        
        aside {
            clear: right;
            box-sizing: border-box;
        }
        
        .navegacao-site {
            border: 10px solid black;
        }
        
        .clearfix {
            clear: both;
        }