        body {
            font-family: "Crimson Text", 'Times New Roman', Times, serif;
            background-color: #F2FFFC;
            font-size: 120%;
            line-height: 1.5;
        }
        
        main {
            width: 85%;
            float: left;
            padding-bottom: 80px;
        }
        
        h1,
        h2 {
            font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
        }
        
        .titulo-principal {
            text-align: center;
            background-color: #851944;
            color: #FFF;
            padding: 25px;
            border-bottom: 10px solid black;
            font-size: 60px;
            text-transform: uppercase;
        }
        
        p {
            text-align: justify;
            margin: 20px 0;
        }
        
        .navegacao-site {
            background-color: #3C1D3D;
            color: #F2FFFC;
            text-align: center;
        }
        
        .rodape-pagina {
            background-color: #000;
            color: #F2FFFC;
            clear: both;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
        }
        
        main a {
            color: #851944;
        }
        
        .navegacao-site a {
            color: inherit;
            font-family: "Open Sans Condensed", sans-serif;
        }
        
        .citacao-bio,
        .navegacao-site,
        .rodape-pagina {
            padding: 20px;
        }
        
        main div {
            padding: 30px 0;
            width: 720px;
            margin: auto;
        }
        
        .navegacao-site h1 {
            font-size: 30px;
            margin-bottom: 25px;
        }
        
        main h2 {
            font-size: 30px;
            clear: both;
        }
        
        .icones-sociais li {
            display: inline-block;
        }
        
        article {
            padding-bottom: 30px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
        }
        
        nav a {
            color: #F2FFFC;
            text-transform: lowercase;
        }
        
        .icones-sociais a {
            width: 40px;
            height: 40px;
            display: block;
            text-indent: -9999px;
        }
        
        .github {
            background-image: url(../img/github.png);
        }
        
        .twitter {
            background-image: url(../img/twitter.png);
        }
        
        .linkedin {
            background-image: url(../img/linkedin.png);
        }
        
        .foto-joao {
            border-left: 10px solid black;
            border-bottom: 10px solid black;
            float: right;
            box-sizing: border-box;
            width: 300px;
            position: absolute;
            top: 0;
            right: 0;
        }
        
        aside {
            box-sizing: border-box;
            position: relative;
            top: 300px;
            width: 15%;
            float: right;
        }
        
        .navegacao-site {
            border-left: 10px solid black;
            border-bottom: 10px solid black;
            position: absolute;
            top: 300px;
            right: 0;
        }
        
        .clearfix {
            clear: both;
        }