    body {
        background-color: #F2FFFC
    }
    
    h1 {
        font-size: 60px;
        background-color: rgb(133, 25, 68);
        color: rgb(255, 255, 255);
        text-align: center;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h1,
    h2 {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    p {
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
    }