body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", 'Times New Roman', Times, serif;
    font-size: 120%;
}

main h1 {
    background-color: #851944;
    color: #FFF;
    text-align: center;
    font-size: 60px;
}

main h2 {
    font-size: 30px;
}

h1,
h2 {
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
    margin: 20px 0;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}

blockquote {
    background-color: D9E5E3;
    margin: 20px 40px;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

nav a {
    color: #F2FFFC;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}


/*
Nas instruções da aula fala de main div, mas não usei dive do html
*/

main {
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}